.root {
    --page-loader-height: 90px;
    --page-loader-width: 120px;
    --page-loader-size: calc(100vh - var(--header-height));
    --color-primary: var(--color-text);
    --color-secondary: #FF3D00;

    height: var(--page-loader-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: var(--page-loader-width);
    height: var(--page-loader-height);
    margin: 0 auto;
}

.loader::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--color-secondary);
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 var(--color-primary), -35px 50px 0 var(--color-primary), -70px 95px 0 var(--color-primary);
    animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
    
    0% {
        transform: scale(1, 0.7)
    }
    
    40% {
        transform: scale(0.8, 1.2)
    }
    
    60% {
        transform: scale(1, 1)
    }
    
    100% {
        bottom: 140px
    }
}

@keyframes loading-step {

    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
        0 10px 0 var(--color-primary),
        -35px 50px 0 var(--color-primary),
        -70px 90px 0 var(--color-primary);
    }
    
    100% {
        box-shadow: 0 10px 0 var(--color-primary),
        -35px 50px 0 var(--color-primary),
        -70px 90px 0 var(--color-primary),
        -70px 90px 0 rgba(0, 0, 0, 0);
    }
}
