.app.light {
    --color-text: #000;
    --color-inverted-text: #fff;
    --color-bg-layout: #fff;
    --color-inverted-bg-layout: #000;
    --gradient-main: linear-gradient(to right,#cb11ab 0,#481173 100%) no-repeat;
}