.root {
    color: var(--color-inverted-text);
    background: rgba(var(--color-inverted-text), 0.3);
    backdrop-filter: blur(2px);
}

.wrapper {
    height: var(--header-height);
    display: flex;
    align-items: center;
}